name: Linter & Jest

on:
  - push

jobs:
  tests:

    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v3

      - name: Install node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'
          cache: 'npm'
      - name: Install dependencies
        run: make install
      - name: Run linter
        run: make lint
      - name: Run tests
        run: make test
      - name: Code Coverage
        uses: paambaati/codeclimate-action@v3.2.0
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
          # coverageCommand: make test-coverage
          # debug: true